ul {
	list-style: none;
	overflow: hidden;
	li {
		padding-right: 20px;
		padding-bottom: 20px;
		float: left;
		img {
			width: 240px;
			height: 180px;
			border: solid 1px #ccc;
			box-shadow: 1px 1px 4px #aaa;
		}
	}
}

form.search {
	width: 315px;
	margin: 30px auto;

	input[type=text] {
		width: 200px;
	  padding: 5px 10px;
	}
	input[type=submit] {
		width: 80px;
	}
}
